#search-field-wrapper {
  height: 180px;
  margin-top: 300px;
  width: 25%;
  margin-left: 40%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.15), 0 3px 6px rgba(0,0,0,0.17);
  padding: 15px;
}


#search-button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 20px;
  width: 120px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 40px;
}
#search-button:hover {
  border-color: #0EB9ED;
  box-shadow: 0 3px 7px rgba(0,0,0,0.15), 0 3px 6px rgba(0,0,0,0.17);
}

#search-input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  width: 90%;
}

#search-input:focus {
  outline: none;
}

.ng-autocomplete {
  border: none;
  box-shadow: none;

  border-bottom: 1px solid black;
  font-size: 20px;
  width: 100%;
}

.autocomplete-container {
  border: none;
}





