<div id="search-field-wrapper">
  <p>type in a city</p>
  <br>

  <div class="ng-autocomplete">
    <ng-autocomplete
      [data]="data"
      (selected)='selectEvent($event)'
      (inputChanged)='onChangeSearch($event)'
      (inputFocused)='onFocused($event)'
      [itemTemplate]="itemTemplate"
    >
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item"></a>
    </ng-template>
  </div>
  <br>
  <button [disabled]="!valid" (click)="buttonSearchClicked()" id="search-button">search</button>
</div>


